<div class="list-container">
  <label>
    Responsavel:
  </label>
  <input type="text" placeholder="buscar" />

  <!-- TODO -->
  <div class="todo-container column-cointainer">
    <div
      class="list"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="tarefas"
      [cdkDropListConnectedTo]="[inprogressList]"
      (cdkDropListDropped)="onDrop($event)"
    >
      <h2>Todo</h2>
      <mat-card *ngFor="let todo of tarefas" cdkDrag>
        <mat-card-header>
          <mat-card-title>{{ todo | json}}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <!-- INPROGRESS -->
  <div class="todo-container column-cointainer">
      <div
        class="list"
        cdkDropList
        #inprogressList="cdkDropList"
        [cdkDropListData]="testes"
        [cdkDropListConnectedTo]="[todoList]"
        (cdkDropListDropped)="onDrop($event)"
      >
        <h2>Todo</h2>
        <mat-card *ngFor="let todo of testes" cdkDrag>
          <mat-card-header>
            <mat-card-title>{{ todo.nome}}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

</div>
